html
{
    font-family: sans-serif;
}
.x8831 
{
    image-rendering: crisp-edges;
}
.nonl { display: inline; }

/* TODO: Make it smaller */
#content
{
    /* Make sure the width is 70% of the page size */
    min-width: 70vw;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 1vw;
    padding-right: 1vw;
    /* Make the height most of the screen */
    min-height: 90vw;
    background: none;
    background-color: #eee;
}
footer
{
    background-color: #222;
    color: #eee;
}
footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}
body
{
    background: linear-gradient(to bottom, rgb(0,0,0,0%), rgb(0,0,0,30%) 100vh), repeating-linear-gradient(40deg, #888, #888 2vw, #aaa 2vw, #aaa 4vw);
}
a:link
{
    color: #65a2c6;
}
a:visited
{
    color: #bedead;
}
#head
{
    background-color: #222;
    color: #eee;
}
#navzone
{
    float: right;
    font-size: 1em;
}

@media (orientation: portrait) 
{
    #content
    {
        font-size: 30pt;
        min-width: 95vw;
        max-width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }
    #navzone { font-size: 2em; }
}

